.App{
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(48,41,162,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.cards{
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  min-height: 100vh;
}

.card{
  background-color: whitesmoke;
  color: black;
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}

.options{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.options button{
  padding: 30px;
  border-radius: 9px;
}

.Hidden{
  display: none;
}

#statsPage{
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 60px;
  width: 25%;
  position: absolute;
  right: 30%;
  top: 30%;
}

#packsPage{
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 60px;
  width: 25%;
  position: absolute;
  right: 30%;
  top: 30%;
}

#makePage{
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 200px;
  width: 25%;
  position: absolute;
  right: 30%;
  top: 30%;
}